
.col1{
    background-color: red ;
    height: 100px;
}
.col2{
    background-color: green ;
    height: 100px;
}
.col3{
    background-color:aqua;
    height: 100px;
}
.col4{
    background-color:purple ;
    height: 100px;
}